<label for="{{id}}" id="{{id}}-label" {{#if disabled}}disabled{{/if}} style="width: 100%; display: flex; gap: 0.5rem;">
  <button class="list-add small-button" type="button" onclick="addListItem('{{id}}')">
    <i class="fa-solid fa-plus" style="color: inherit"></i>
  </button>
  {{label}}:
</label>
<input type="text" id="{{id}}" name="{{id}}" alias="{{alias}}" fieldName="{{fieldName}}">
<div id="{{id}}-list-container">
  <ul id="{{id}}-list"></ul>
</div>